
/*{.final-colors, .base-colors} li { float: left; padding: 5px; margin: 0px; width: 30px; border: solid 2px white;}
.base-colors {list-style: none;}

.final-colors {list-style: none; width: 330px;}*/

/*.clear {clear: both;} */

.final {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

/*From Carson's CSS:*/

 :root {
     --grid-cell-size: 20px; /* default for very small screens (otherwise undefined) */
     font-family: sans-serif;
     --bgcolor: lightgray;
     background-color: var(--bgcolor);
 }

/* Scale our grid sizes to user's screen width */
@media (min-width: 490px) {
    :root {
        --grid-cell-size: 25px;
    }
}

@media (min-width: 600px) {
    :root {
        --grid-cell-size: 30px;
    }
}

@media (min-width: 800px) {
    :root {
        --grid-cell-size: 40px;
    }
}

@media (min-width: 1000px) {
    :root {
        --grid-cell-size: 50px;
    }
}

@media (min-width: 1200px) {
    :root {
        --grid-cell-size: 60px;
    }
}

body {
    margin: 10px;
}

h1 {
    text-align: center;
}

#baseColors {
    display: grid;
    grid-template-columns: repeat(19, var(--grid-cell-size));
}

#finalColors {
    display: inline-grid;
    grid-template-columns: repeat(7, var(--grid-cell-size)); /* best w/odd number */
}

#readout-grid {
    display: inline-grid;
    grid-template-columns: repeat(3, calc(var(--grid-cell-size) * 4));
    height: calc(var(--grid-cell-size) * 6);
    max-width: 70px; /* scroll screen instead of wrapping beneath elements to my left */
}

base-el, final-el {
    font-size: calc(var(--grid-cell-size) / 4);
    line-height: calc(var(--grid-cell-size) / 4);
    /*border-radius: calc(var(--grid-cell-size) / 8); causes lockups (performance) */
    height: calc(var(--grid-cell-size) / 1.1);
    display: block;
    color: white;
    border-color: var(--bgcolor);
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    padding-left: calc(var(--grid-cell-size) / 20);
    padding-top: calc(var(--grid-cell-size) / 20);
}

@keyframes blink {
    0% {
        border: 2px solid white;
    }
    100% {
        border: 2px solid black;
    }
}

/* Highlight a selected cell */
.selected {
    animation: blink .6s step-start infinite alternate;
    animation-timing-function: ease-in-out;
    /*todo: causes lockup w/Chrome ("mousehandler timeout?") */
    /*transform: skewY(-20deg);*/
}

.notSelected {
}

button {
    width: 100px;
    height: 70px;
    align-self: center;
    cursor: pointer;
    border: 3px solid gray;
}

button:hover,
button:focus {
    background: white;
}

