:root {
    font-family: sans-serif;
    font-size: 10px;
    background-color: lightgray;
}

.base-colors li { float: left; padding: 5px; margin: 0px; width: 30px; border: solid 2px white;}
.base-colors {list-style: none;}
.clear {clear: both;}

.final-colors li { float: left; padding: 5px; margin: 0px; width: 30px;border: solid 2px white;}
.final-colors {list-style: none; width: 330px;}

.final {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

li.selected  {
    border: solid 2px black;
}
